server:
  port: 8080
spring:
  application:
    name: gateway-service

    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods: ["GET", "POST", "PUT", "DELETE", "OPTIONS"]
            allowedHeaders: "*"
            allowCredentials: true


logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.security: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: gateway, health, info

jwt:
  secret: ${JWT_SECRET_KEY}

service:
  url: http://dev.adenali.com